{% extends 'main/base.html' %}
{% block title %} {{ title }} {% endblock %}
{% load static %}
{% block content %}
<div class = "max-w-screen-xl mx-auto my-3">
    <div>
        <form method="get" action="{% url 'recipe:view_recipes' %}">
            <div class="flex">
                <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
                <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">All categories <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg></button>
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                    {% if categories %}
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'recipe:view_recipes' %}?query={{ query }}&category={{ category.id }} " type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                    <li>
                        <p>Empty Category</p>
                    </li>
                    {% endif %}
                    </ul>
                </div>
                <div class="relative w-full">
                    <input type="search" name="query" value="{{ query }}" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search Mockups, Logos, Design Templates..." required />
                    <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="mt-3">
        {% if recipes %}
        <div class="flex flex-wrap">
            {% for recipe in recipes %}
                <div class="w-full max-w-sm m-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="{% url 'recipe:view_recipe_detail' recipe_primary_key=recipe.id %}">
                        <img class="w-full h-48 object-cover rounded-t-lg" src="{{ recipe.image.url }}" alt="" />
                    </a>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ recipe.name }}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Cooking time: {{ recipe.cook_time }}</p>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Serving: {{ recipe.serving }}</p>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Description: {{ recipe.description }}</p>
                        <a href="{% url 'recipe:view_recipe_detail' recipe_primary_key=recipe.id %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            Read more
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="flex justify-center">
            <img src="{% static 'empty-wst.svg' %}" class="h-96" alt="Empty">
        </div>
        <div class="flex justify-center">
            <div class="flex-col text-center">
                <div class="text-4xl font-extrabold tracking-tight">
                    <h1>Oops, no recipe match that criteria.</h1>
                </div>
                <div>
                    <p class="text-xl font-normal">It looks like there are no recipe that match your criteria. Don't worry our site is constantly updating.
                        Try adjusting your filters or be the first to list recipe in this category!
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}